$primary-color: #FD2D01;
$secondary-color: #FFD7D7;
$tertiary-color: #4E5166;


.container-card-thread{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border: 3px solid $secondary-color;
    color: $secondary-color;
    color: #000;
    margin-top: 20px;
    border-radius: 8px;

    
    .pseudo-data{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 30px;
        span{
            color: $tertiary-color;
        }
    }
    .content{
        width: 100%;
       height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;


        .description{
            font-size: 20px;
            align-self: flex-start;
            padding-left: 25px;
            margin-bottom: 15px;
        }
        img{
            width: 85%;
            border-radius: 8px;
        }

        
    }
        .icon {
            width: 100%;
            display: flex;
            padding: 0px 20px;
            justify-content: space-between;
            margin-top: 50px;

            span{
                cursor: pointer;
            }
            i{
                font-size: 24px;
            }
                .like{
                    display: flex;
                    display: flex;
                    align-items: center;
                }

                .container-modify{
                    background: $primary-color;
                    display: flex;
                    text-align: center;
                    align-items: center;
                    border-radius: 25px;
                    padding: 8px 9px;
                }

                .container-suppr {
                    background: $primary-color;
                    display: flex;
                    text-align: center;
                    align-items: center;
                    border-radius: 25px;
                    padding: 6px 10px;
                }
            .fa-solid{
                
                color: $primary-color;
            }
            .fa-pen{
                color: $secondary-color;
                font-size: 16px;
            }

            .fa-xmark{
                font-size: 21px;
                color: $secondary-color;
            }
            
            p{
                font-size: 22px;
            }
        }
}











@media (max-width: 768px) {
    .container-card-thread{
        .icon{


            .container-modify {
                    background: $primary-color;
                    display: flex;
                    text-align: center;
                    align-items: center;
                    border-radius: 25px;
                    padding: 7px 8px;
                }
            
                .container-suppr {
                    background: $primary-color;
                    display: flex;
                    text-align: center;
                    align-items: center;
                    border-radius: 25px;
                    padding: 5px 9px;
                }

                .fa-pen {
                 font-size: 15px;
                }
                
                .fa-xmark {
                font-size: 20px;
                color: $secondary-color;
                }
        }
    }
}