$primary-color: #FD2D01;
$secondary-color: #FFD7D7;
$tertiary-color: #4E5166;


.container-global-feed{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .content{
        width: 27%;
        height: 100vh;
    }

            .post{
                width: 100%;
                height: auto;
                padding: 15px;
                display: flex;
                justify-content: center;
                
                .container-global-post-form{
                   
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    h4{
                        font-size: 25px;
                        align-self: flex-start;
                    }
                    
                }
                .content-post{
                    display: flex;
                    height: auto;
                    
                    form{
                        width: 100%;
                        
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        #write{
                            border: none;
                            outline: none;
                            background: transparent;
                            margin-top: 30px;
                            border: none;
                            resize: none;
                            width: 100%;
                            font-size: 18px;
                            margin-bottom: 30px;
                            
                            
                        }

                        .btn-all{
                            
                            width: 100%;
                            display: flex;
                            justify-content: space-between;

                            #file-upload{
                                position: absolute;
                                opacity: 0;
                                width: 30px;
                                height: 30px;
                                border: 2px solid;
                                
                            }

                            .btn-post{
                                padding: 0px 25px;
                                border-radius: 25px;
                                font-size: 14px;
                                font-weight: 700;
                                color: $secondary-color;
                                background: $primary-color;
                                border: none;
                            }
                            
                            i{
                                color: $primary-color;
                            }
                        }
                    }
                }
            }

    .feed{
        width: 100%;
        height: 320px;


            .container-post-feed{
                
                

                ul{
                    display: flex;
                    flex-direction: column-reverse;
                }
            }
    }


    .nav-link{
        position: absolute;
        top: 0px;
        right: 0px;
        height: 70px;
        width: auto;
        display: flex;
        padding: 15px 30px;
        align-items: center;
        color: $primary-color;
    }
    
}