@import "../variable.scss";
.container-global{
    height: 100vh;
    display: flex;
    font-family: 'Lato', sans-serif;
    background: #fff;

    .container-img{
        width: 55%;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 70%;

        }
    }
    .container-content{
        background: #fff;
        border-right: 1px solid #2f2f2f;
        margin: 20px 0px 20px 40px;
        height: auto;
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 8px 0px 0px 8px;

        h1{
           font-size: 36px; 
           font-weight: 500;
           color: #2F2F2F;
           align-self: flex-start;
           margin-left: 110px;
           margin-bottom: 20px;

           span{
            font-size: 46px;
            font-weight: 900;
            color: #FD2D01;
           }
        }

        ul{
            display: flex;

            li{
                list-style-type: none;
                margin: 20px;
                font-size: 22px;
                font-weight: 400;
                cursor: pointer;
                color: #000;
            }

            .active-li{
                border-bottom: 2px solid #FFD7D7;
            }
        }
    }
}


/*************************************      LAPTOP 1024PX      **************************************/


@media (max-width : 1024px){
    .container-global{
        
        .container-img{
            width: 50%;
            img{
                width: 75%;
            }
        }

        .container-content{
            width: 50%;

            h1 {
                    font-size: 33px;
                    font-weight: 500;
                    color: #000;
                    align-self: flex-start;
                    margin-left: 50px;
                    margin-bottom: 20px;
            
                    span {
                        font-size: 43px;
                        font-weight: 900;
                        color: #FD2D01;
                    }
                }
        }
    }
}


/*************************************      Tablette 768px     **************************************/

@media (max-width : 768px) {
    .container-global{
        .container-img{
            display: none;
        }

        .container-content{
            width: 100%;
            border: none;
            margin: 20px 0px 20px 10px;
        }
    }
}



@media (max-width : 375px) {
    .container-global {
       padding: 0px;
       margin-right: 10px;


    .container-content {
        margin-top: 40px;
            h1 {
                font-size: 30px;
                font-weight: 500;
                color: #000;
                align-self: flex-start;
                margin-left: 50px;
                margin-bottom: 0px;
    
                span {
                    font-size: 40px;
                    font-weight: 900;
                    color: #FD2D01;
                }
            }
        }
    }
}