*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
// font-family: 'Lato',sans-serif;;
@import url("../styles/component/Log.scss");
@import url("../styles/pages/homeLog.scss");
@import url("../styles//component//Login.scss");
@import url("../styles//component/Feed.scss");
@import url("../styles//component/EditProfil.scss");
@import url("../styles/component/CardThread.scss");
